body {
	background-image: url("Sfondo.jpg");
}

div {
	text-align: center;
	font-size: 40px;
	background-color: white;
}

h1 {
	background-color: black;
	border: 3px solid white;
	text-align: center;
	font-size: 80px;
	color: white;
}

ul {
	text-align: center;
	font-size: 50px;
}

li {
	background-color: gray;
	text-align: center;
	font-size: 30px;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}

div.relative {
	position: relative;
	left: 30px;
	border: 3px solid #73AD21;
}

p {
	text-align: center;
}